{% extends "base.html" %}
{% block content %}

<h1>Who will you add?</h1>
<br>
<form action="" method="post">
  <input type="text" placeholder="First name: eg John" name="firstname" value="{{
    request.form.firstname }}">
  <br>
  <input type="text" placeholder="Last name: eg Randus" name="lastname" value="{{
    request.form.lastname }}">
  <br>
  <input type="text" placeholder="Title: eg Coordinator" name="position" value="{{
    request.form.position }}">
  <br>
  <input type="text" placeholder="Password: eg ALLIED123" name="password" value="{{
    request.form.password }}">
  <br>
  <input type="radio" name="city" value="null" checked>  &nbsp; <b>Choose an office:</b><br>
  <input type="radio" name="city" value="ERMKT">  &nbsp; ERM Research<br>
  <input type="radio" name="city" value="LIVE-CHI">  &nbsp; Allied Live Chicago<br>
  <input type="radio" name="city" value="LIVE-WDC">  &nbsp; Allied Live Washington DC<br>
  <input type="radio" name="city" value="LIVE-LA">  &nbsp; Allied Live Los Angeles<br>
  <input type="radio" name="city" value="BOSTON">  &nbsp; Boston<br>
  <input type="radio" name="city" value="NEWYORK">  &nbsp; New York<br>
  <input type="radio" name="city" value="LOSANGELES">  &nbsp; Los Angeles<br>
  <input type="radio" name="city" value="ATLANTA">  &nbsp; Atlanta<br>
  <input type="radio" name="city" value="ATLANTA-VININGS">  &nbsp; Atlanta Vinings<br>
  <input type="radio" name="city" value="CHICAGO">  &nbsp; Chicago<br>
  <input type="radio" name="city" value="CLEVELAND">  &nbsp; Cleveland<br>
  <input type="radio" name="city" value="DALLAS">  &nbsp; Dallas<br>
  <input type="radio" name="city" value="DENVER">  &nbsp; Denver<br>
  <input type="radio" name="city" value="DETROIT">  &nbsp; Detroit<br>
  <input type="radio" name="city" value="FLORIDA">  &nbsp; Florida<br>
  <input type="radio" name="city" value="HOUSTON">  &nbsp; Houston<br>
  <input type="radio" name="city" value="KANSASCITY">  &nbsp; Kansas City<br>
  <input type="radio" name="city" value="LASVEGAS">  &nbsp; Las Vegas<br>
  <input type="radio" name="city" value="MINNEAPOLIS">  &nbsp; Minneapolis<br>
  <input type="radio" name="city" value="PHILADELPHIA">  &nbsp; Philadelphia<br>
  <input type="radio" name="city" value="PHOENIX">  &nbsp; Phoenix<br>
  <input type="radio" name="city" value="SANFRANCISCO">  &nbsp; San Francisco<br>
  <input type="radio" name="city" value="SANDIEGO">  &nbsp; San Diego<br>
  <input type="radio" name="city" value="SEATTLE">  &nbsp; Seattle<br>
  <input type="radio" name="city" value="STLOUIS">  &nbsp; St. Louis<br>
  <input type="radio" name="city" value="WASHINGTONDC">  &nbsp; Washington DC<br>
  <input type="radio" name="city" value="TORONTO">  &nbsp; Toronto<br>
  <input type="radio" name="city" value="GCM-LA">  &nbsp; Allied Experiential - Los Angeles<br>
  <input type="radio" name="city" value="GCM-NY">  &nbsp; Allied Experiential - New York
  <br>
  <br>
  <input class="btn btn-default" type="submit" value="Add?">
</form>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>

{% endblock %}
